.contact__info {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
  flex-grow: 1;
}

.contact__card-icon {
  font-size: 1.5rem;
  color: var(--title-color);
}

@media screen and (max-width: 576px) {
  .contact__info {
    flex-direction: column;
    align-items: center;
  }

  .contact__card {
    width: 70%;
  }

  .contact__card-data {
    overflow-wrap: break-word;
  }
}
