.contact__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}

.contact__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
}

.contact__card-icon {
  font-size: 1.5rem;
  color: var(--title-color);
}
